.c-item{
    height: 480px;
}




.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.overview{
    background-color: rgb(119, 134, 147);
    height: 150px;

}
.faq-box{
    border:2px;
    border-color: rgb(46, 50, 50);

}